body {
	font-family: "Lato",  "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0; 
	padding: 0;
	color: white;
	background-color: #222;
}
a{
	color: white;
    text-decoration: none;
	color: #d8d8d8;
}
a:hover{
	opacity: 0.5;
}
span{
	font-size: 11;
	font-weight: lighter;
	color: #d8d8d8;
	line-height: 22px;
}
.artist{
	font-size: 22px;
	font-weight: lighter;
}
#top-container{
	background-color: #222;
	width: 100%;
	height: 90%

}

#bot-container{
	background-color: #555;
	width: 100%;
	height: 8%;
	bottom: 0;
	left: 0;
	position: fixed;
	color: white;
	transition: 0.3s;
-moz-transition: 0.3s;
-webkit-transition: 0.3s;

}

#bot-container:hover{
	height: 97%;
}
.title{
	text-align: center;
	margin: 25px auto 20px;
	font-weight: thin;
	font-family: "Josefin Sans"
}

#events{
	padding-top: 15px;
	font-size: 40px;
	width: 90%;
}
.block{
	margin: 0px 10px;
  	padding: 5px 25px;
	display: inline-block;
	width: 40%;
	height: 80%;
	font-size:14px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
}
.block2{
 	margin: 5px 5%;
	display: inline-block;
	background-color: rgba(190,190,190,0.1);
	width:40%;
}

#divider{
	height: 70%;
	width: 1px;
	background-color: #333;
	display: inline-block;
	padding: 0;
	position: absolute;
	left: 50%
}
#d2{
  	margin: 2% 0;
  	height: 80%;
}
.body-block{
	margin: 0 auto;
  	padding-left: 10%;
}
.bar{
	height: 1px;
	width: 40%;
	margin: 5px auto;
	background-color: white;
	position: relative;
}
.bar2{
	height: 1px;
	width: 90%;
	margin: 10px auto;
	background-color: #444;
	position: relative;
	display: inline-block;
}

#right{
	position: absolute;
}
.events{
	text-align: center;
	height: 95px;
}

.events2{
	text-align: center;
	height: 95px;
	margin: 5% 0;
}
#back-overlay{
	position: absolute;
	z-index: 0;
	width: 80%;
	height: 87%;
	margin: 0 auto;
	left: 10%;
	top:20px;
	background-color: rgba(190,190,190,0.1);
	border-radius: 10px;
}
#top-container .title .bar:hover {
	background-color: #f4f4f4;
	color: #333;
	opacity: 0.7;
}
#bot-container #arrow {
	background-color: white;
	height: 50px;
	width: 50px;
	background-color: #555;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	z-index: -10;
}

#context{
	width: 40%;
	height: 50%;
	font-size: 14px;
	margin: 10% 29%;
  	background-color: rgba(190,190,190,0.9);
  	border-radius: 10px;
  	padding: 20px;
  -moz-box-shadow:    3px 3px 5px 6px #444;
  -webkit-box-shadow: 3px 3px 5px 6px #444;
  box-shadow:         3px 3px 5px 6px #444;
}
.button{
	text-align: center;
	margin-top: 50px;
	position: relative;
	font-size: 14px;
	font-weight: lighter;
}
input{
	border-radius: 5px;
    -webkit-appearance: none; 
    box-shadow: none;
	font-family: 'Lato', sans-serif;
	width: 40%;
}
input[type=submit]{
	width: 20%;
	background-color: #555;
	color: white;
}