<html>
<head> 
	<title> Concert Crowd </title>
	<link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='css/style2.css') }} />
	<script type="text/javascript" src = {{ url_for('static', filename='js/script.js') }}></script>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,600' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/png" href={{ url_for('static', filename='imgs/icon.png') }}/>
</head>

<body>
	<div id="fb-root"></div>

	<div id="top-container" >
		<div class="title" id="events">Events Near You </div>
		<div class="bar"></div>
		<div class="body-block">
			<div class="block" >
				{% for e in events1 %} 
					<div class="events">
						<div class="artist">{{e['Artists']}}</div>
						<span>{{e['Location']}}</span><br>
						<span>{{e['Date']}} at {{e['Time']}}</span><br>
						<a href={{e['ticket']}}>Buy Tickets! </a>
					</div>
					<div class="bar2"></div>
	            {% endfor %}
			</div>
			<div id="divider" ></div>
			<div class="block" >
				{% for e in events2 %} 
					<div class="events">
						<div class="artist">{{e['Artists']}}</div>
						<span>{{e['Location']}}</span><br>
						<span>{{e['Date']}} at {{e['Time']}}</span><br>
						<a href={{e['ticket']}}>Buy Tickets! </a>
					</div>
					<div class="bar2"></div>
	            {% endfor %}
			</div>
		</div>
		<div id = "back-overlay"></div>
	</div>


	<div id="bot-container" >
		<div id="arrow"></div>
        {% if hits == "" %}
		<div class="title" id="email">
			Sign into your email to find your upcoming events and tickets
		</div>
		<div class="bar"></div>
		
		<form action="home" method ="post">
			<div id="context" >
				<div class= "button b">
					Email:<br>
					<input type="text" name="email">
				</div>
				<div class= "button b">
					Password:<br>
					<input type="password" name="password">
				</div>
				<div class= "button"> 
					<input type="submit" value="Sign In">
				</div>
			</form>
            {% endif %}
            {% if hits %}

			<div class="title bot" id="my-form" style="font-size:30px; margin-top:17px">
				My Events
			</div>

			<div class="bar"></div>
			<div class="bot-blocks"></div>
            <div>

			<div class="block" >
                {% for hit in hits %}
					<div class="events">{{hit}} </div>

                    {{hit.subject}} <br>
                    {{hit.body}}
                {% endfor %}
            </div>
            </div>
			<div id="divider bot" ></div>
			<div class="bot-blocks"></div>
				<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="350" data-numposts="10" data-colorscheme="dark"></div>
		</div>
            {% endif %}
	</div>

</body>
</html>
