<!DOCTYPE htmL> 

<html>

<head> 
	<title> Concert Crowd </title>
	<link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='css/style.css') }} />
	<script type="text/javascript" {{ url_for('static', filename='js/script.js') }}></script>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" href={{ url_for('static', filename='imgs/icon.jpg') }}/>
</head>


<body>
	<div id="background-overlay"></div>
	<div id="img-box">
		<img id ='background-img' src={{ url_for('static', filename='imgs/concert.jpg') }}>
	</div>

	<div id="title-box">
		<div id="title">Concert Crowd</div>
		<div id="tag-line">
			Connecting people one concert at a time
		</div>
	</div>

	<div id="connect">

			<u>Connect With:</u>
		<div id="connect-buttons">
			<div id="facebook" class="sign-in">
				Facebook
			</div>
			<div id="email" class="sign-in">
				Email
			</div>
		</div>
	</div>

</body>

</html>